<header class="tsd-header">
    <div class="tsd-header-content">
        <div class="tsd-header-group">
            <h1 class="tsd-header-logo">
              <a href="https://www.infragistics.com/products/ignite-ui-angular" class="title">{{project.name}}</a>  
            </h1>
    </div>
</header>
