  <footer style="color: white !important; flex-grow: 1; background-color: #151E33;">
    <div class="container" style="padding: 60px 5vw!important; ">
      <nav class="columns">
        <div class="column">
          <div>
            <p class="title" style="color: white; font-weight: 700;">intugine</p>
          </div>
        </div>
        <div class="column">
          <div>
            <p class="footer-section-name">Services</p>
            <a href="#" class="footer-section-child">Device Based Tracking</a>
            <a href="#" class="footer-section-child">Sim Based Tracking</a>
            <a href="#" class="footer-section-child">Inplant Tracking</a>
            <a href="#" class="footer-section-child">Control Tower</a>
            <a href="#" class="footer-section-child">Digital Modules</a>
          </div>
        </div>
        <div class="column ">
          <div>
            <p class="footer-section-name">Company</p>
            <a href="#" class="footer-section-child">About Us</a>
            <a href="#" class="footer-section-child">Careers</a>
            <a href="#" class="footer-section-child">Support</a>
            <a href="#" class="footer-section-child">Contact Us</a>
          </div>
        </div>
        <div class="column ">
          <div>
            <p class="footer-section-name">Resources</p>
            <a href="#" class="footer-section-child">Blog</a>
            <a href="#" class="footer-section-child">Use Cases</a>
            <a href="#" class="footer-section-child">Transporter List</a>
          </div>
        </div>
      </nav>
      <div class="is-flex is-justify-content-space-between"
        style="background-color: #18274A; padding: 30px; margin: 30px 0;">
        <div class="columns is-mobile is-gapless">
          <div class="column is-1">
            <img src="https://www.intugine.com/assets/Location.svg" alt="" height="25px" width="25px">
          </div>
          <div class="column is-two-thirds">
            No. 677, 3rd Floor 16th Main Road, Behind BDA Complex, Bengaluru, Karnataka 560034
          </div>
        </div>
        <div>
          <div>
            <div class="columns is-mobile is-gapless">
              <div class="column is-2">
                <img src="https://www.intugine.com/assets/mail.svg" alt="" height="20px" width="20px" />
              </div>
              <div class="column">
                reachus@intugine.com
              </div>
            </div>
          </div>
          <div class="columns is-mobile is-gapless">
            <div class="column is-2">
              <img src="https://www.intugine.com/assets/Call.svg" alt="" height="20px" width="20px" />
            </div>
            <div class="column">
              08041498111
            </div>
          </div>
        </div>
      </div>
      <div style="border-top: 0.5px solid #2C63E5; padding-top: 30px">
        <p>Copyright @2021, All rights reserved</p>
      </div>
    </div>
  </footer>